#menu li {
   display: inline;
   list-style-type: none;
   border: 2pt solid black;
   margin-right: 1em;
   padding: 0.5em;
}

a {
   color: black;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

li.selecionado {
   background-color: black;
}

li.selecionado a {
   color: white;
}
